<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trucks 'n' Glory: Game</title>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="/styles/game.css">
    <!-- LINK GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li class="logotype"><img src="/assets/img/logotype.png" alt="Trucks 'n' Glory Logotype/Logo"></li>
            <li><img src="/assets/buttons/newsButton.png" alt="">Noticias</li>
            <li><img src="/assets/buttons/achievmentsButton.png" alt="">Objetivos</li>
            <li><img src="/assets/buttons/tutorialButton.png" alt="">Tutorial</li>
            <li><img src="/assets/buttons/rankingButton.png" alt="">Ranking</li>
            <li><img src="/assets/buttons/configButton.png" alt="">Configuración</li>
            <li><img src="/assets/buttons/logoutButton.png" alt="">Salir</li>
        </ul>
        <ul class="gameUi">
            <li><img src="/assets/buttons/companyButton.png" alt="">Compañía</li>
            <li><img src="/assets/buttons/storeButton.png" alt="">Consecionario</li>
            <li><img src="/assets/buttons/furgonButton.png" alt="">Furgones</li>
            <li><img src="/assets/buttons/truckButton.png" alt="">Camiones</li>
            <li><img src="/assets/buttons/routesButton.png" alt="">Rutas</li>
            <li><img src="/assets/buttons/employeesButton.png" alt="">Empleados</li>
            <li><img src="/assets/buttons/garageButton.png" alt="">Garage</li>
            <li><img src="/assets/buttons/maintenanceButton.png" alt="">Mantenimiento</li>
            <li><img src="/assets/buttons/mapButton.png" alt="">Mapa</li>
        </ul>
    </nav>
    <main>
        <section class="homeView">

        </section>
        <section class="newsView"></section>
        <section class="achievmentsView"></section>
        <section class="tutorialView"></section>
        <section class="rankingView"></section>
        <section class="configView"></section>
        <section class="logoutView"></section>
        <section class="profileView"></section>
        <section class="storeView"></section>
        <section class="furgonView"></section>
        <section class="trucksView"></section>
        <section class="routesView"></section>
        <section class="employeesView"></section>
        <section class="garageView"></section>
        <section class="maintenanceView"></section>
        <section class="mapView"></section>
    </main>
    <!-- SCRIPTS -->
    <script type="module" src="/src/app.js"></script>
</body>
</html>